.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 3rem;
}

.details {
  width: 28rem;
}

from {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-in-value {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  color: green;
  opacity: 0.8;
}

.sign-in-value:hover {
  opacity: 1;
  cursor: pointer;
}
