<div class="container">
  <div class="details">
    <app-title title="Sing in"></app-title>

    <form [formGroup]="signForm" (ngSubmit)="submit()">

      <text-input
      [control]="formCtrl.email"
      [showErrorsWhen]="isSubmitted"
      type="email"
      label="Email"></text-input>

      <text-input
      [control]="formCtrl.password"
      [showErrorsWhen]="isSubmitted"
      type="password"
      label="Password"></text-input>

      <default-button text="Sign in"></default-button>

      <div class="sign-up">
        Don't have an account? &nbsp;
        <a routerLink="/sign-up" [queryParams]="{returnUrl: returnUrl}">
          Sign Up Here
        </a>
      </div>
    </form>
    <div class="sign-in-value">
      <h3>
        Email and Password: look at .env file
      </h3>
    </div>
  </div>
</div>
